<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="prodect">Prodects</a>
          </li>
          
        </ul>
  
      </div>
    </div>
  </nav>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">price</th>
        <th scope="col">category</th>
        <th scope="col">more</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of prodects">
        <th scope="row">{{item.id}}</th>
        <td>{{item.title}}</td>
        <td>{{item.price}}</td>
        <td>{{item.category}}</td>  
        <td><a [routerLink]="['details', item.id]">show</a></td>
      </tr>
    </tbody>
  </table>

<p>prodect works!</p>
