.content{
    height: 200vh;
    margin: auto;
    background-color: rgb(255, 255, 255);
   
}

.box, .box2{
    background-color: #ffffff;
    text-align: center;
    width: 20%;
    border: 1px #c5c5c5 solid;
    padding: 20px;
    border-radius: 40px;
    display: inline-block;
    position: absolute;
    top: 50%;
    
    transform: translate(-50%, -50%);
}
.box{
    left: 35%;
    height: 60%;
}
.box2{
    left: 65%;
    height: 30%;
}

#field{
    padding: 5%;
    width: 50%;
    margin: 5%;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 10pt;
}
button{
    padding: 5%;
    font-weight: bold;
    width: 60%;
    margin: 5%;
    color: #ffffff;
    background-color: rgb(99, 174, 255);
    border: none;
    border-radius: 10pt;

}